* {
  margin: 0;
  padding: 0;

  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  background: #002339;
  color: #fff;
}

.container{
  width: 90%;
  max-width: 700px;

  margin: 12%;
}

.display{
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 26px 20px;

  width: 100%;
  color: #333;
  background: #fff;
  border-radius: 5px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container h1{
  font-weight: 500;
  font-size: 45px;
}

.container h1 span{
  color: #019f55;
  border-bottom: 4px solid;
}

.display img{
  width: 30px;
  cursor: pointer;
}

.display input{
  width: 70%;
  border: 0;
  outline: 0;
  font-size: 24px;
}

.buttons{
  display: flex;
  column-gap: 20px;
}

.container button{
  color: white;
  background-color: #019f55;

  font-size: 22px;
  font-weight: 300;

  padding: 16px 10px;

  border: 0;
  outline: 0;
  border-radius: 5px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}