.column{
  display: flex;
}

/* -----------LEFT COLUMN----------- */

.contact-left{
  flex: 1;
  /* min-width: 360px; */
}
.contact-left p{
  margin-top: 15px;
}
.contact-left i{
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons{
  margin-top: 35px;
}
.social-icons a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
}
.social-icons a:hover{
  color: #ff004f;
}

.download-cv-button{
  margin-top: 20px;
  text-decoration: none;
  padding: 15px;
  display: inline-block;
  background-color: white;
  color: black;
  border-radius: 15px;
}
.download-cv-button:hover{
  background-color: #ff004f;
  color: white;
}
.download-cv-button:active{
  transform: translateY(10px);
}

/* -----------RIGHT COLUMN----------- */

.contact-right{
  flex: 1;
  /* min-width: 280px; */
}

.contact-right form{
  width: 100%;
}

form input, form textarea{
  width: 100%;
  border: 0;
  outline: none;
  background-color: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.submit-button{
  padding: 15px 60px;
  background-color: #ff004f;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}